.App {
  display: grid;
  grid-template-rows: 5vw 95vw;
  width: 100vw;
  height: 100vh;

  .navbar {
    display: grid;
    grid-template-columns: 90vw 10vw;
    position: relative;
    background-color: gray;

    #notification {
      display: inline-block;
      position: fixed;
      margin: 0.5vw 5vw 5vw 5vw;
      z-index: 1;
      float: right;
      width: 1.5vw;
      height: 1.5vw;
      background-color: #e50000;
      border-radius: 50%;
    }

    #avatar {
      position: fixed;
      border-radius: 50%;
      z-index: 0;
      width: 4vw;
      height: 4vw;
      object-fit: cover;
      margin: 0.5vw 2.5vw;
      float: right;
    }
  }

  .main-container {
    .list-block {
      h2 {
        font-size: 3em;
      }

      h3 {
        font-size: 2em;
      }

      h4 {
        font-size: 1.5em;
      }
    }
  }

  .modal {
    position: fixed;
    display: block;
    z-index: 1;
    width: 30vw;
    height: 50vw;
    overflow: auto;
    background-color: gray;
    right: 0;

    .close {
      font-size: 5vw;
      font-weight: bold;
      text-decoration: none;
      line-height: 0;
      float: right;
      margin: 3vw;
    }

    .modal-list {
      margin: 2vw;

      .mod-block {
        background-color: white;
        padding: 0.2vh 0.5vw 0.2vh 0.5vw;
        // margin: 2vw;
      }
    }
  }

}
