.App {
  display: grid;
  grid-template-rows: 5vw 95vw;
  width: 100vw;
  height: 100vh;

  .navbar {
    display: grid;
    grid-template-columns: 90vw 10vw;
    position: fixed;
    background-color: gray;

    .navbar-column-1, .navbar-column-2 {
      display: flex;
      height: 5vw;

      h2 {
        margin: auto auto auto 5vw;
      }
    }

    #notification {
      margin-left: 2vw;
      display: inline-block;
      position: fixed;
      margin: 0.5vw 5vw 5vw 5vw;
      z-index: 1;
      float: right;
      width: 1.5vw;
      height: 1.5vw;
      background-color: #e50000;
      border-radius: 50%;
    }

    #avatar {
      position: fixed;
      border-radius: 50%;
      z-index: 0;
      width: 4vw;
      height: 4vw;
      object-fit: cover;
      margin: 0.5vw 2.5vw;
      float: right;
    }
  }

  .main-container {
    margin: 2vw;

    h2 {
      margin-top: 7vw;
    }

    .list-block {
      margin: 3vw;

      h2 {
        font-size: 3em;
      }

      h3 {
        display: inline-block;
        font-size: 2em;
        line-height: 0;
      }

      h4 {
        font-size: 1.5em;
        line-height: 0;
      }

      p {
        font-size: 1.25em;
      }

      span {
        margin-left: 2vw;
        font-size: 1.5vw;
        font-style: italic;
      }
    }
  }

  .modal {
    position: fixed;
    display: block;
    z-index: 1;
    width: 30vw;
    height: 50vw;
    overflow: auto;
    background-color: gray;
    right: 0;

    .close {
      font-size: 4vw;
      font-weight: bold;
      text-decoration: none;
      line-height: 1;
      float: right;
      margin: 0 2vw 0 2vw;
    }

    .modal-list {
      margin: 5vw 2vw 5vw 2vw;

      .mod-block {
        background-color: white;
        padding: 1vw;

        h3 {
          display: inline-block;
          font-size: 1.2em;
          line-height: 0;
        }

        h4 {
          font-size: 0.8em;
          line-height: 0;
        }

        span {
          margin-left: 1.5vw;
          font-size: 0.8em;
        }
      }
    }
  }

}
